<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Course</h1>
  <!-- <div>{{data}}</div> -->

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<!-- <p><a href="another">Go to the other page</a></p> -->
<p> What do you want to know about Course? </p>


<form method="POST" action="/course2knowledge">
<p>Knowledge Covered by Course(Such as 132301): <input type="text" name="name"><input type="submit" value="search"></p>
</form>

<form method="POST" action="/course2course">
<p>Prerequisite of Course(Such as 132302): <input type="text" name="name"><input type="submit" value="search"></p>
</form>

<form method="POST" action="/course2reference">
<p>Reference About Course(Such as 132301): <input type="text" name="name"><input type="submit" value="search"></p>
</form>

<h3>insert course</h3>
<form method="POST" action="/insert_course">
    <p>Course id(form: 100000): <input type="text" name="c_id"> </p>
    <p>Course name(form: gauge theory): <input type="text" name="c_name"></p>
    <p>Under Knowledge name(form: geometry): <input type="text" name="k_name"></p>
    <input type="submit" value="add">
</form>

<h3>insert prerequisite</h3>
<form method="POST" action="/insert_prerequisite">
    <p>Prerequisite id(form: 100000): <input type="text" name="c_id_pre"> </p>
    <p>Post Course id(form: 100001): <input type="text" name="c_id_post"></p>
    <input type="submit" value="add">
</form>
<p><a href="/">Back to the main page</a></p>
</body>


</html>
