<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
<h1>Three interesting examples</h1>

<h3>examples 1</h3>
<form method="POST" action="/example1">
    <p>If I were a senior undergraduate, list all the courses impossible for me to complete,
        i.e. for senior undergraduates, there are only 2 semesters left for them. Thus, as
        for courses having at least 2 prerequisites(courses) that the students have not enrolled before,
        it is impossible for them to finish that course as they have to take those prerequisite course in advance.</p>
    <p>Course no.: <input type="text" name="name"> <input type="submit" value="search">(ex. 132301)</p>
</form>

<h3>examples 2</h3>
<form method="POST" action="/example2">
    <p>Find the country where most scientists came from, and print the names of scientists who were born after 19th
        century as well as the events regard to those scientists respectively.</p>
<p><input type="submit" value="show result"></p>
</form>

<h3>examples 3</h3>
<form method="POST" action="/example3">
    <p>Find all the references under one specific theorem. To be detailed, we should find the knowledge that contains
        target theorem as well as the courses that is being covered, then print the references (links) with respect
        to the courses.</p>
    <p>No. of the theorem: <input type="text" name="name"> <input type="submit" value="search"> (ex. 3)</p>
</form>

<p><a href="/">Back to the main page</a></p>
</body>


</html>
