<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Courses you cannot take during college</h1>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>


<form method="POST" action="/example1">
    <p>If I were a senior undergraduate, list all the courses impossible for me to complete,
        i.e. for senior undergraduates, there are only 2 semesters left for them. Thus, as
        for courses having at least 2 prerequisites(courses) that the students have not enrolled before,
        it is impossible for them to finish that course as they have to take those prerequisite course in advance.</p>
    <p>Course no.: <input type="text" name="name"> <input type="submit" value="search">(ex. 132301)</p>
</form>

<p><a href="/interesting_example">Back to the example page</a></p>
</body>


</html>