<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Knowledge Graph</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
<form action="/course">
<p><input type="submit" value="Course"></p>
</form>
<form action="/knowledge">
<p><input type="submit" value="Knowledge"></p>
</form>
<form action="/reference">
<p><input type="submit" value="Reference"></p>
</form>
<form action="/theorem">
<p><input type="submit" value="Theorem"></p>
</form>
<form action="/interesting_example">
<p>Here are three interesting queries provided in project 1.2: <input type="submit" value="turn to"></p>
</form>

</body>


</html>
