<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
<h1>Insert course and prerequisite</h1>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>


<form method="POST" action="/insert_course">
    <p>Course id: <input type="text" name="c_id"> (ex. 1)</p>
    <p>Course name: <input type="text" name="c_name"></p>
    <p>Under Knowledge name: <input type="text" name="k_name"></p>
    <input type="submit" value="add">
</form>


<form method="POST" action="/insert_prerequisite">
    <p>Prerequisite id: <input type="text" name="c_id1"> (ex. 1)</p>
    <p>Post Course id: <input type="text" name="c_id2"></p>
    <input type="submit" value="add">
</form>

<p><a href="/">Back to main page</a></p>
</body>


</html>