<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Theorem</h1>
  <!-- <div>{{data}}</div> -->

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<!-- <p><a href="another">Go to the other page</a></p> -->
<p> What do you want to know about Theorem? </p>
<form method="POST" action="/theorem2knowledge">
<p>Knowledge Containing Theorem(such as 1): <input type="text" name="name"><input type="submit" value="search"></p>
</form>

<form method="POST" action="/theorem2scientist">
<p>Scientist Proving Theorem(such as 1): <input type="text" name="name"><input type="submit" value="search"></p>
</form>

<form method="POST" action="/theorem2axiom">
<p>Premise of Theorem(such as 11): <input type="text" name="name"><input type="submit" value="search"></p>
</form>

<form method="POST" action="/theoremContent">
<p>Content of Theorem(such as 1): <input type="text" name="name"><input type="submit" value="search"></p>
</form>

<p><a href="/">Back to main page</a></p>
</body>


</html>
